
.card{
    width: 30%;
    height: 100%;
    background: #2d3549ea;
    border-radius: 12px;

    .titleContainer{
        width: 100%;
        margin-top: 15px;
        text-align: center;
        .cardTitle{
            color: #beaeae;
            font-size: 2rem; 
            font-weight: bold;
        }
    }
    hr{
        background: #090B0C;
        color: #090B0C;
        border-color: #090B0C;;
    }
    .skillContainer{
        text-align: center;
        display: flex;
        flex-direction: column;
        .skillText{
            font-size: 1.8rem;
            margin-top: 15px;
            color: #beaeae;
        }
    }
}
