.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    height: 70%;
    width: 80%;
    margin-top: 200px;
    border-radius: 15px;
    margin: 185px auto;

    .card{
        width: 30%;
        height: 100%;
        background: #39435a;
        border-radius: 12px;

        .titleContainer{
            width: 100%;
            margin-top: 15px;
            text-align: center;
            .cardTitle{
                color: #090B0C;
                font-size: 2rem; 
                font-weight: bold;
            }
        }
    }
}