.formContainer{
    position:relative;
    margin: 150px auto;
    width: 35%;
    
    .form{
        display:flex;
        flex-direction: column;
        background: #435072;
        padding: 10px;
        .inputField{
            color: #d2ccdd;
            outline: 0;
            border: 0;
            border-bottom: 2px solid #2d3549;
            font-size: 1.45rem;
            padding: 5px;
            background: #00000000;
        }
        .inputField::placeholder{
            color: #8585a5
        }
        .largeInput{
            outline: 0;
            border: 0;
            font-size: 1.3rem;
            padding: 5px;
            height: 200px;
            background: #00000000;
            max-width: 100%;
            color: #d2ccdd;
        }
        .largeInput::placeholder{
            color: #8585a5
        }
    }
}