.navContainer{
    display: flex;
    justify-content: space-between;
    .logo{
        margin-left: 20%;
    }
    .navButtons{
        width: 40%;
        padding: 20px 0;
        display: flex;
        .linkItem{
            color: #fafafa;
            text-decoration: none;
            font-size: 2rem;
            margin: 0 13px;
        }
    }
}